html {
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    text-align: justify;
}

body {
    margin-top: 5rem;
    background-color: #141B41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

nav {
    background-color: rgb(27, 27, 27);
    border-bottom: 2px solid white;
    position: fixed;
    top: 0rem;
    left: 0rem;
    display: grid;
    width: 100%;
    height: 4rem;
    grid-template-areas: 
                "logo . list";
    grid-template-columns: 45% 1fr 45%;
    z-index: 99;
    align-items: center;
}

h2 {
    color: #5895bb;
}

#logo {
    font-size: 1.8rem;
    display: flex;
    text-align: left;
    grid-area: logo;
    margin: auto 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/USAflag.jpg);
    background-size: contain;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "ENG";
    font-size: 0.6rem;
    color: white;
    text-align: center;
    align-content: center;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #2196F3;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-image: url(../images/Spainflag.jpg);
    background-size: cover;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  content: "ESP";
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

ul.navigation {
    text-align: right;
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0.1rem 0.2rem;
    grid-area: list;
    justify-content: space-around;
}

ul.navigation a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 400;
}

ul.navigation a:visited {
    /*color: rgb(124, 71, 124);*/   
}

ul.navigation li {
    width: 5.5rem;
    text-align: center;
    background-color: #477998;
    border: 2px solid #477998;
    padding: 0.2rem 0.2rem;
    margin: 0 0.2rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.2rem #EEF0F2;
}

ul.navigation li:active {
    margin-top: 0.3rem;
    box-shadow: none;
}

ul.navigation li:hover {
    background-color: rgb(38, 90, 168);
    color: black;
}

header {
    display: flex;
    width: 100%;
    height: 19rem;
    margin: 2rem 0;
    position: relative;
    background-image: url('../images/NameBackground3.jpg');
    background-size: cover;
    align-items: center;
    
}

div.banner {
    width: 100%;
    height: 5rem;
    align-content: center;
}

header h1 {
    font-size: 3rem;
    text-align: center;
    margin: auto 1rem;
    text-shadow: 0.2rem 0.2rem 0.4rem rgb(0, 0, 0);
}

section.aboutme {
    display: flex;
}

div.textcontainer {
    margin-left: 2rem;
}

div.texcontainer p {
    margin-left: 1rem;
}

img.sidepic {
    width: 40%;
    align-self: center;
    grid-area: img;    
}

img {
    width: 100%;
    padding: 2rem 2rem;
    
}

section.education {
    display: flex;
}

div.list {
    margin-left: 2rem;
}

ul.educationList {
    list-style-position: inside;
    list-style-type: "==> ";
}

ul.educationList li {
    margin: 1rem auto;
}

section.skills {
    display: grid;
    grid-template-areas: 
                    "text img";
    grid-template-columns: 1fr 1fr;
}

section.skills img.sidepic {
    width: 80%;
    grid-area: img;
    justify-self: end;
}

ul.skillsList {
    grid-area: text;
    list-style-position: inside;
    list-style-type: "==> ";
}

ul.skillsList li {
    margin: 1rem auto;
}

section.contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section.contacts a {
    color: white;
    text-decoration: none;
}